#rollDice, #passTurn {
  display: none;
}

#winner {
  color: rgb(255, 87, 121);
  font-size: xx-large;
  font-style: italic;
}

#pigs, #pigs2 {
  background-color: aliceblue;
  height: 12rem;
  width: 12rem;
  border: 0.2rem rgb(233, 233, 233);
  border-style: outset inset inset outset;
  border-radius: 0.4rem;
  outline: rgb(204, 204, 204) solid 0.1rem;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  align-content: center;  
  display: grid;
  grid-template-areas:
      "a . c"
      "e g f"
      "d . b";
 /* row-gap: 0.5rem;
 column-gap: 0.5rem; */
 grid-template-rows: 3.5rem 3.5rem 3.5rem;
 grid-template-columns: 3.5rem 3.5rem 3.5rem;
}

.oink {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

#grunt, #snort {
  flex: 1 0 100px;
  text-align: center;
  box-sizing: border-box;
}

.col-4, .col-8, .col-12 {
 padding: 20pt;
 border: 0.6rem ridge rgba(229, 163, 206, 0.918);
 text-align: center;
 border-radius: 0.3rem;
 margin-block: 20pt;
}

.row {
  padding-left: 2px;
  padding-right: 2px;
}

body {
  padding: 20pt;
  text-align: center;
  font-family: impact;
  background-color: pink;
}

.container { 
  margin-top:20;

}

h1, h2 {
  font-family: 'Fascinate', cursive;
  color: rgb(149, 114, 140);
  font-size: 45pt;
  text-align: center;
  margin: 20px;
  background-color: rgba(240, 225, 249, 0.938);
}

#winner img {
  height: 10rem;
}



#pigs img, #pigs2 img {
  align-items: center;
  height: 3.5rem;
}

img:nth-child(2) {
  grid-area: b;
}
img:nth-child(3) {
  grid-area: c;
}
img:nth-child(4) {
  grid-area: d;
}
img:nth-child(5) {
  grid-area: e;
}
img:nth-child(6) {
  grid-area: f;
}
img:nth-child(odd):last-child {
  grid-area: g;
}

button {
  padding: 6px;
  margin:5px;
  color: white;
  background-color: rgb(213, 96, 162);
  border-radius: 0.7rem;
  border: 0.rem rgb(255, 219, 242);
  border-style: inset ridge ridge inset;
  font-family: impact;
  width: 25%;
}

input { 
  color:rgb(153, 93, 128);
  background-color: lightpink;
}

html {
  background-color: pink;
  background-image: url(/img/movingDice.gif);
}